
ITK_graphicslib.xcodeproj/xcuserdata/okocsis.xcuserdatad/xcschemes/Beadando_1.xcscheme

ITK_graphicslib.xcodeproj/xcuserdata/okocsis.xcuserdatad/xcschemes/xcschememanagement.plist

.DS_Store

ITK_graphicslib.xcodeproj/project.xcworkspace/xcuserdata/okocsis.xcuserdatad/UserInterfaceState.xcuserstate

ITK_graphicslib.xcodeproj/xcuserdata/okocsis.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist

ITK_graphicslib.xcodeproj/xcuserdata/okocsis.xcuserdatad/xcschemes/probaApp.xcscheme

ITK_graphicslib.xcodeproj/project.xcworkspace/xcuserdata/okocsis.xcuserdatad/UserInterfaceState.xcuserstate
